<a href="https://colab.research.google.com/github/swarooplenka13/vigilant-engine/blob/main/DecisontreeClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#IMPORTING DEPENDENCIES

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#IMPORTING DATASET

In [3]:
df=pd.read_csv("/pizaa dataset.csv")

In [ ]:
df

    brand     id   mois   prot    fat   ash  sodium   carb   cal
0       A  14069  27.82  21.43  44.87  5.11    1.77   0.77  4.93
1       A  14053  28.49  21.26  43.89  5.34    1.79   1.02  4.84
2       A  14025  28.35  19.99  45.78  5.08    1.63   0.80  4.95
3       A  14016  30.55  20.15  43.13  4.79    1.61   1.38  4.74
4       A  14005  30.49  21.28  41.65  4.82    1.64   1.76  4.67
..    ...    ...    ...    ...    ...   ...     ...    ...   ...
295     J  34044  44.91  11.07  17.00  2.49    0.66  25.36  2.91
296     J  24069  43.15  11.79  18.46  2.43    0.67  24.17  3.10
297     J  34039  44.55  11.01  16.03  2.43    0.64  25.98  2.92
298     J  14044  47.60  10.43  15.18  2.32    0.56  24.47  2.76
299     J  14045  46.84   9.91  15.50  2.27    0.57  25.48  2.81

[300 rows x 9 columns]

#TARGET CLASS VARIABLE

In [4]:
y=df['brand']
print(y)

0      A
1      A
2      A
3      A
4      A
      ..
294    J
295    J
296    J
297    J
298    J
Name: brand, Length: 299, dtype: object

#REMAINING DATASET ATTRIBUTES

In [5]:
x=df.drop(columns='brand',axis=1)

In [6]:
x

        id   mois   prot    fat   ash  sodium   carb   cal
0    14053  28.49  21.26  43.89  5.34    1.79   1.02  4.84
1    14025  28.35  19.99  45.78  5.08    1.63   0.80  4.95
2    14016  30.55  20.15  43.13  4.79    1.61   1.38  4.74
3    14005  30.49  21.28  41.65  4.82    1.64   1.76  4.67
4    14075  31.14  20.23  42.31  4.92    1.65   1.40  4.67
..     ...    ...    ...    ...   ...     ...    ...   ...
294  34044  44.91  11.07  17.00  2.49    0.66  25.36  2.91
295  24069  43.15  11.79  18.46  2.43    0.67  24.17  3.10
296  34039  44.55  11.01  16.03  2.43    0.64  25.98  2.92
297  14044  47.60  10.43  15.18  2.32    0.56  24.47  2.76
298  14045  46.84   9.91  15.50  2.27    0.57  25.48  2.81

[299 rows x 8 columns]

#SPLITTING THE DATASET INTO TEST DATA AND TRAIN DATA

In [8]:
X_train, X_test,y_train, y_test = train_test_split(x,y,random_state=104,test_size=0.25,shuffle=True)

#STANDARDIZATION OF DATA

In [9]:
scaler = StandardScaler()

In [10]:
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)
# y_train=scaler.fit_transform(y_train)

#DECISION TREE MODEL

In [11]:
clf = DecisionTreeClassifier(criterion = "entropy",random_state=0)

In [12]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [16]:
y_pred=clf.predict(X_test)

#ACCURACY OF THE MODEL

In [14]:
accuracy_score(y_test, y_pred)

0.7733333333333333

In [15]:
confusion_matrix(y_test, y_pred)

array([[ 8,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0, 13,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  4,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  5,  2,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  1,  0,  0,  4,  0,  0],
       [ 0,  0,  0,  0,  0,  7,  2,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  3,  7,  0,  0,  0],
       [ 0,  0,  0,  0,  1,  0,  0,  5,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  7,  1],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  1,  4]])